body {
	background: #b4d4ff;
	color: rgb(0, 0, 0);
	font-family: Verdana, san-serif;
	width: 100%;
}

.indented {
    padding-right:23px;
}

.image-wrapper {
	max-width:100%;
	max-height:100%;
	background: #b4d4ff;
	margin-left: 200px;
}
.image-content {
	display: block;
	margin: 0 auto;
	max-width: 800px;
	max-height: 303px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background: #b4d4ff url(../images/banner.jpg);
}
.name {
	font-size: 24px;
	margin: 200px 0 0 20px;
	float: left;
}

.navigation {
	width: 200px;
	max-height: fit-content;
	background: #173f5c;
	margin: 0 auto;
}
.navigation-content {
	margin: 0 auto;
	width: 200px;
}
.panda {
	font-size: 35px;
	text-align: center;
	float: center;
}
.csheader {
	font-size: 25px;
	text-align: center;
	float: center;
}
.navigation-content a {
	display: block;
	float: center;
	height: 40px;
	width: 200px;
	line-height: 40px;
	color: #b4d4ff;
	font-size: 18px;
	text-align: center;
	width: 180px;
	text-decoration: none;
}
.navigation-content a:hover {
	background: #070a0c;
}

.body {
	width: 800px;
	margin-left: 200px auto;
}

.body p {
	margin-top: 0;
	margin-bottom: 20px;
}

.col1 {
	float: left;
}

.col1 {
	width: 700px;
	margin-left: 20px;
}

a:link {
	color: #6699FF;
}
a:visited {
	color: #4f4c53;
}