body {
	background: #b4d4ff;
	color: rgb(0, 0, 0);
	font-family: Verdana, san-serif;
	width: 100%;
}

.indented {
    padding-right:23px;
}

.header-image-wrapper {
	max-width:100%;
	max-height:100%;
	background: #b4d4ff;
}
.header-image-content {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%;
	background: #b4d4ff url(../images/banner.jpg);
}
.name {
	font-size: 48px;
	margin: 50px 0 0 20px;
	float: left;
}

.navigation {
	height: 45px;
	background: #173f5c;
	margin: 0 auto;
}
.navigation-content {
	margin: 0 auto;
	width: 1150px;
	height: 45px;
}
.panda {
	font-size: 35px;
	text-align: center;
	float: center;
}
.csheader {
	font-size: 25px;
	text-align: center;
	float: center;
}
.navigation-content a {
	display: block;
	float: left;
	height: 45px;
	line-height: 45px;
	color: #b4d4ff;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	width: 190px;
	text-decoration: none;
}
.navigation-content a:hover {
	background: #070a0c;
}

.body {
	width: 760px;
	margin: 40px auto;
}

.body p {
	margin-top: 0;
	margin-bottom: 20px;
}

.col1 {
	float: left;
}

.col1 {
	width: 700px;
}

a:link {
	color: #6699FF;
}
a:visited {
	color: #4f4c53;
}

.col4 img {
	display: block;
	float: left;
	margin-top: ;
}